{
    "rules": {
        "array-element-newline": [
            "error",
            {
                "ArrayExpression": "consistent",
                "ArrayPattern": {
                    "minItems": 3
                }
            }
        ],
        "max-len": [
            "error",
            120,
            2,
            {
                "ignoreUrls": true,
                "ignoreComments": false,
                "ignoreRegExpLiterals": true,
                "ignoreStrings": false,
                "ignoreTemplateLiterals": false
            }
        ]
    }
}